name: build
on:
  workflow_call:
    inputs:
      cache:
        description: "(boolean) use actions/cache"
        required: false
        default: true
        type: boolean
      node_version:
        description: "(string) "
        required: false
        default: "lts/*"
        type: string
      runs_on:
        description: "(string) "
        required: false
        default: "ubuntu-latest"
        type: string

env:
  default_node_version: "lts/*"
  default_pnpm_version: 8

jobs:
  build:
    name: build
    runs-on: ${{ inputs.runs_on }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: ${{env.default_pnpm_version}}

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          cache: pnpm

      - name: Install Dependencies
        run: pnpm i

      - name: Build
        run: |
          pnpm run build

      - name: get hexo-starter hash
        shell: bash
        run: |
          echo -n $(cat .git/modules/hexo-starter/refs/heads/master) > hash

      - name: pack
        run: |
          npm pack

      - uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          compression-level: 1
          name: artifact
          path: |
            bin
            hash
            *.tgz
